<% form_for @user do |form| %>
  <div class="field">
    <h3 class="other"><%= form.label :username, "Username" %></h3>
    <%= form.text_field :username %>
  </div>
  <div class="field">
    <h3 class="other"><%= form.label :email, "Email" %></h3>
    <%= form.text_field :email %>
  </div>
  <div class="field">
    <h3 class="other"><%= form.label :password, "Password" %></h3>
    <%= form.password_field :password %>
  </div>
  <div class="field">
    <h3 class="other"><%= form.label :password_confirmation, "Password Confirmation" %></h3>
    <%= form.password_field :password_confirmation %>
  </div>
  <br />
  <%= form.submit "Submit" %>
<% end %>

