<div id="main_listing">
  <!-- List five (configurable) posts/links, then just titles of the rest -->
    <% count = 0 %>
    <% @posts.each do |post| %>
      <% count += 1 %>
      <% if count <= 5 then %>
        <div class="post_listing">
          <h2 class="post_title"><%= link_to count.to_s() + '- ' + post.title, post %></h2>
          <h3 class="post_info">by <%=h post_author(post.user_id) %> at <%=h post.created_at %></h3>
          <p class="post_body">
            <%=h post.content %>
          </p>
          <br />
          <h3 class="post_topics">Filed Under: <%= post.topics.map { |t| t.name }.join(", ") %></h3>
        </div>
      <% else %>
        <h2 class="post_title"><%= link_to count.to_s() + '- ' + post.title, post %></h2>
      <% end %>
    <% end %>
    <br />
</div>
