<!DOCTYPE html>
<html>
<head>
  <title><%= APPCFG['site_title'] %></title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= auto_discovery_link_tag(:rss, :controller => "posts", :format => :rss) %>
</head>
<body>
  <div id="user_nav">
    <% if current_user %>
      <span>Signed in as <%= current_user.username %></span>&nbsp;&nbsp;&nbsp;
      <%= link_to "Admin", admin_path %>&nbsp;&nbsp;&nbsp;
      <%= link_to "Edit profile", edit_user_path(:current) %>&nbsp;&nbsp;&nbsp;
      <%= link_to "Logout", logout_path %>
    <% else %>
      <%= link_to "Log in", login_path %> 
    <% end %>
  </div>
  <div id="container">
    <div id="header">
      <h1><a href="/"><%= APPCFG['site_title'] %></a></h1>
    </div>
    <%= yield %>
  </div>
  <div id="footer">
    <p>POWERED BY GLOB - <a href="http://www.github.com/kbeswick/glob">@github</a> | <%= link_to "RSS", posts_url(:rss) %></p>
  </div>
</body>
</html>
